{% extends "admin/base.html" %}

{% block title %}System Logs - USOS Admin{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>System Logs</h1>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>User</th>
                <th>Action</th>
                <th>IP Address</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>{{ User.query.get(log.user_id).username }}</td>
                <td>{{ log.action }}</td>
                <td>{{ log.ip_address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
